 global reset */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	color: #FFFFFF;
}

/*media query for mobile*/
@media only screen and (max-width: 960px) {
	.contact-pg {
	background-color: rgba(48, 51, 29, .9);
	color: #FFFFFF;
	padding-bottom: 10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 1rem;
	min-height: 800px;
	max-width: 100%;
	}
}
/*media query for tablet*/
/*@media only screen and (min-width: 401px) and (max-width: 960px) {
	h1 {
		font-size: 3em;
	}
	h3 {
		font-size: 1em;
	}
	p, ul, li {
		font-size: 1em;
	}
	h5 {
		font-size: 1em;
	}
	span {
		font-size: 1em;
	}
}*/
/*media query for desktop*/
/*@media only screen and (min-width: 961px) {
	#profile {
		background-color: blue;
	}
}*/

/*to wrap body*/
.main-bod {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/* landing page */
#landing-pg {
	background-image: linear-gradient(rgba(95,109,79, 0.40), rgba(95,109,79,0.40)),url('../../assets/images/landing-bg.png');
	background-size: cover; /* to ensure image doesn't show as actual size, like cover image regardless of vh value below */
	background-repeat: no-repeat; /* if image is small, bg will be tiled, so use this to no repeat */
	background-position: center;  /* to indicate placement of background */
	/*viewport height */
	height: 100vh;  /*height of user's screen that visits website, if 100 means occupy 100 percent of user's view screen; makes background look responsive*/ 
	top: 100vh;
}

.land {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.headline {
	background-color: rgba(129,81,20, 0.60); /*1 22 58 */
	margin-top: 25%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 10px;
	padding-top: 5%;
	padding-bottom: 5%;
	display: block;
	width: 100%;
	white-space: nowrap;
	text-align: center;
}

#hero-text {
	font-family: 'Rubik', sans-serif;
	/*font-size: 5rem;*/
	color: #d0cd94;
	opacity: 1;
	display: block;
}

h4 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: #FFFFFF;
	margin-left: 0;
	text-align: center;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	background-color: rgba(170, 154, 118, 0.90);
	border-radius: 15px;
}

#email {
	color: #FFFFFF;
}

#scroll-down  {
	background-color: rgba(170, 154, 118, 0.90);
	border-radius: 50%;
	border: 1px;
	height: 2rem;
}
/*end of landing page*/

/* about section header */
header {
	background-color: rgba(129,81,20, 0.90);
}

.about-sect {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	height: 5rem;
}

.about-text {
	margin: auto;
}

.logo {
	margin-left: 0;
	padding-left: 1rem;
}

.nav h3 {
	font-size: .9rem;
	text-align: center;
	color: #FFFFFF;
	padding-left: .5rem;
}

.bg2 {
	background-color: rgba(1, 22, 58, 0.60);
	background-image: linear-gradient(rgba(95,109,79, 0.50), rgba(95, 109, 79,0.50)),url('../../assets/images/bg2.png');
	background-size: cover; /* to ensure image doesn't show as actual size, like cover image regardless of vh value below */
	background-repeat: repeat; /* if image is small, bg will be tiled, so use this to no repeat */
	background-position: center;  /* to indicate placement of background */
	/*viewport height */
/*	height: 100vh; */ /*height of user's screen that visits website, if 100 means occupy 100 percent of user's view screen; makes background look responsive*/ 
/*	top: 100vh;*/
}
/* end of about section header */

/*start of skills*/
.proj-title {
	margin: auto;
	margin-top: 1px;
	padding-bottom: 50vh;
}

.main-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#my-pic {
	height: 300px;
	border-radius: 50%;
	border: 10px double;
	border-color: rgba(48, 51, 29, 1.0);
	align-self: flex-start;
	margin-top: 1rem;
	align-self: center;
	margin-bottom: 1rem;
}

#my-name {
	font-size: 1rem;
	border: 1px solid;
	background-color: rgba(48, 51, 29, .9);
	padding: 10px;
	color: #FFFFFF;
	width: 50%;
}

.prev-exp {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	padding: 1rem;
	margin-top: 1rem;
	padding-bottom: 20vh;
}

.apps {
	font-size: 1rem;
	background-color: rgba(48, 51, 29, .9);
	padding: 10px;
	align-self: flex-start;
	margin-top: 1rem;
	color: #FFFFFF;
	border: 1px solid;
	text-align: left;
}

.employers {
	font-size: 1rem;
	background-color: rgba(48, 51, 29, .9);
	padding: 10px;
	margin-top: 1rem;
	color: #FFFFFF;
	border: 1px solid;
	text-align: left;
}

#logo-sm {
	padding: 0;
	margin: 0;
	display: inline;
}
/*end of skills*/

/*start of project*/
.proj-header {
	font-size: 2rem;
	text-align: center;
	display: flex;
	background-color: rgba(129,81,20, 0.90);
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.col-sm {
	background-color: rgba(48, 51, 29, .9);
	padding: 1rem;
	margin: 1rem;
	color: #FFFFFF;
}

h2 {
	font-size: 2rem;
	color: #FFFFFF;
	margin: auto;
	padding: auto;
	text-align: center;
}

.card-body a {
	background-color: rgba(170, 154, 118, 0.90);
	border: none;
}

#logo-sm {
	padding-left: 1rem;
}
/*end of ongoing projects*/

/*contact section start*/
.cont-title {
	background-color: rgba(129,81,20, 0.90);
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.form-container {
	width: 100%;
}

.cont-title img {
	padding-left: 1rem;
	margin: 1rem;
}

.cont-title h2 {
	text-align: center;
}

.contact-pg {
	background-color: rgba(48, 51, 29, .9);
	color: #FFFFFF;
	padding-bottom: 10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 1rem;
	padding-right: .3rem;
	padding-left: .3rem;
	justify-content: space-around;
}

.map {
	overflow: hidden;
  	left: 0;
  	top: 0;
  	max-width: 60vw;
   	max-height: 56.25vw;
   	padding: 1rem;
   	align-self: flex-start;
   	margin: 1rem;
}

.form h4 {
	display: inline;
}
/*end of contact*/

/*footer */
footer {
	padding: 0.7rem;
	text-align: center;
	font-size: 1rem;
}

footer span {
	margin: 0 0.5rem;
}
/*end of footer*/